@import url('https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display&display=swap');
body{
  background-image: url("../images/aboutherbc.png");
}
h1{
  font-family: 'PT Serif', serif;
  font-size: 50px;
  text-align: center;
  color: #D95988;
}
.image{
  text-align: center;
}
.paragraph{
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
p{
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  color: #59C7FF;
}

.button1 {
  background-color:#F2B6C1;
  border-radius: 12px;
  color: #FFEF00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  float: left;
  font-family: 'Architects Daughter', cursive;
}
button:hover{
  background-color: #FFEC40;
  color:#9BDAF2;
}

.button2 {
  background-color:#F2B6C1;
  border-radius: 12px;
  color: #FFEF00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;
}
.button3 {
  background-color:#F2B6C1;
  border-radius: 12px;
  color: #FFEF00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  float: right;
  font-family: 'Architects Daughter', cursive;
}
