@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display&display=swap');

body{
  background-image: url('../images/city4.jpg');
}
/*videos*/
.videosbigbox {
  margin: 80px;
  padding: 20px;
}
.videoone{
    text-align: center;
}

.wanderlust, .retrospect, .thehistoryofmine{
  font-size: 24px;
  color: #FFEC40;
  font-family: 'Architects Daughter', cursive;

}
.title{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.description{
  color: #BAB7FF;
  font-size: 20px;
  font-family: 'Playfair Display', serif;

}

.p{
  text-align: center;
}
/**/

/*touchdesigner*/
.tdbigbox{
  margin: 30px;
  padding: 20px;

}

.tdone, .tdtwo, .tdthree, .flower, .tunnel, .mapping{
    text-align:center;
}

.intro {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}


.secondgroup,.thirdgroup{
  margin: 50px;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.firstgroup {
  margin: 0px;
  color:white;
  font-family: 'Playfair Display', serif;
  font-size: 20px;


}




















.button1 {
  background-color:#F2B6C1;
  border-radius: 12px;
  color: #FFEF00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;
}
button:hover{
  background-color: #FFEC40;
  color:#9BDAF2;
}
.button2 {
  background-color:#F2B6C1;
  border-radius: 12px;
  color: #FFEF00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  float: right;
  font-family: 'Architects Daughter', cursive;
}
